
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <title>Criar Usuário</title>
	<img src="/static/images/uff_brasao.png" alt="Icone Educacional" class="education-icon">

</head>

<body>
    <h1>Criar Usuário</h1>
    <form action="" method="post">
        <label for="role">Role:</label>
        <select name="role" id="role" required>
            <option value="Aluno">Aluno</option>
            <option value="Professor">Professor</option>
        </select>
        <label for="name">Nome:</label>
        <input type="text" id="name" name="username" required>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Criar</button>
    </form>
    <p><a href="/">Voltar para a página inicial</a></p>
</body>
</html>
