<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/styles.css">
		<title>Até Logo</title>
		<img src="/static/images/uff_brasao.png" alt="Icone Educacional" class="education-icon">
    </head>
    <body>
        <h1>Agradecemos sua Visita!</h1>
        <p>Volte sempre!</p>
        <!-- Incluir um link ou botão para voltar à página inicial ou sair -->
        <p><a href="/">Voltar para a página inicial</a></p>
    </body>
    <footer>
        <!-- Se houver conteúdo para o rodapé, inclua aqui -->
    </footer>
</html>
