<!DOCTYPE html>

<html>
<head>
   <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <title>Chamada App</title>
</head>
<body>
    <h1>Bem-vindo ao Chamada App!</h1>
    <div class="description">
        Uma forma divertida e eficiente de registrar presenças em sala de aula.
    </div>
    <img src="/static/images/uff_brasao.png" alt="Icone Educacional" class="education-icon">

    <div>
        <a href="/login" class="button-ok">Login</a>
        <a href="/create_user" class="button-ok">Cadastrar</a>
    </div>
</body>
</html>

