<!DOCTYPE html>

<html>
    <head>
        <title>Chamada App</title>
        <link rel="stylesheet" type="text/css" href="static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    </head>

    <body>
        <h1>Bem-vindo ao Chamada App!</h1>
        <!--
        <h2>Uma forma divertida e eficiente de registrar presenças em sala de aula.</h2>
        -->
        <img src="/static/images/uff_brasao.png" alt="Icone Educacional" class="education-icon">

        <div>
            <a href="/login" class="button-ok"> Login </a>
            <a href="/create_user" class="button-ok"> Cadastrar </a>
        </div>
        <br />

        <div id="mapid">
            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
            <script src="static/map.js"></script>
        </div>
    </body>

    <footer></footer>


</html>