<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <label for="username">Nome de usuário:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>
        <button class="button-ok" type="submit">Login</button>
    </form>
    <button class="button-ok" type="submit">Criar novo usuário</button>
    <a href="#" class="button-back">Esqueceu sua senha?</a>
    <p><a href="index.html">Voltar para a página inicial</a></p>

</body>
</html>

