<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" required>

        <br /><br />
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>

        <br /> <br />
        <button class="button-ok" type="submit">Logar</button>

    </form>

    <br />
    <a class="warn" href="#">Esqueceu sua senha?</a><br />
    <br /><br /><br />

    <a href="http://127.0.0.1:5000" class="button-back">Voltar para a página inicial</a>

</body>
</html>