<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">s
    <title>Registrar Presença</title>
</head>
<body>
    <h2>Registrar Presença</h2>
    <form action="/register_presence" method="post">
        <label for="turma_id">ID da Turma:</label>
        <input type="text" name="turma_id" required><br><br>
        <label for="latitude">Latitude:</label>
        <input type="text" name="latitude" required><br><br>
        <label for="longitude">Longitude:</label>
        <input type="text" name="longitude" required><br><br>
        <input type="submit" value="Registrar">
    </form>
</body>
</html>

