<!DOCTYPE html>
<html>
<head>
    <title>Minhas Presenças</title>
</head>
<body>
    <h2>Minhas Presenças</h2>
    <table border="1">
        <tr>
            <th>Data</th>
            <th>Hora</th>
            <th>Turma</th>
        </tr>
        {% for presence in presences %}
        <tr>
            <td>{{ presence['data'] }}</td>
            <td>{{ presence['hora'] }}</td>
            <td>{{ presence['nome'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>


