<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="static/_css/estilo.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    <img src="static/_img/logoUFF.png" alt="Imagem de fundo" width="300"><br><br>
    <h1>Sistema de Chamada</h1>
    <h2> TCC00339 - Gerência de Projetos e Manutenção de Software</h2>
    
    <form method="POST" action="/login">
        <label for="usuario">Usuário:</label>
        <input type="text" id="usuario" name="usuario" required><br><br>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required><br><br>
        <input type="submit" value="Login">
    </form>
</body>

<footer>
    <p>GPMS 2023.2</p>
    Grupo: Alecio Maia, Evandro Mauricio, João Paulo, Márcio Ferreira, Rafael, Victor.

</footer>
</html>
